<ion-content>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <img src="assets/imgs/slide-1.jpg"/>
        </ion-slide>
        <ion-slide>
            <img src="assets/imgs/slide-2.jpg"/>
        </ion-slide>
        <ion-slide>
            <img src="assets/imgs/slide-3.jpg"/>
            <ion-item lines="none" class="entry-btn">
                <ion-button fill="outline" (click)="goToLogin()">
                    进入页面
                </ion-button>
            </ion-item>
        </ion-slide>
    </ion-slides>
</ion-content>
