:host{
    ion-content{
        width:100%;
        height:100%;
        --background:var(--ion-color-dark);
    }
    ion-slide{
        width:100%;
        height:100%;
        img{
            width:100%;
            height: calc(100vh);
            object-fit: fill !important;
        }
        .entry-btn{
            position:absolute;
            bottom:4rem;
            ion-button{
                font-size: 1.2rem;
                color: var(--ion-color-secondary-contrast);
                --border-color: var(--ion-color-secondary-contrast);
                --padding-top: 1rem;
                --padding-bottom: 1rem;
                width:10rem;
                --background-activated: transparent;
                --color-activated: var(--ion-color-secondary);
            }
        }
    }
}