<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="defaultHref" (click)="close()"></ion-back-button>
        </ion-buttons>
        <ion-title>配电柜信息</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <div *ngIf="pagination.content.length>0;else empty">
            <ion-item-sliding *ngFor="let data of pagination.content;let i = index">
                <ion-list class="common-list">
                    <ion-item>
                        <ion-label>
                            <h5>
                                <ion-icon name="bookmark"></ion-icon>
                                配电柜名称：{{data.concentName}}</h5>
                            <h6>
                                <span>物联卡号:{{data.simcard}}</span>
                            </h6>
                            <h6><span>所属道路：{{data.road?.roadName}}</span></h6>
                            <p>
                                <span>灯杆数量:{{data.poleNum}}</span>
                                <span class="ion-justify-content-end ion-float-end">灯具数量:{{data.lampNum}}</span>
                            </p>
                        </ion-label>
                    </ion-item>
                </ion-list>
                <ion-item-options side="end">
                    <ion-item-option (click)="detail(data)">详情</ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </div>
    </ion-list>
    <ng-template #empty>
        <div class="empty-note">
            <ion-note class="ion-text-center">
                <img src="assets/svg/empty.svg"/>
                <p>暂无数据</p>
            </ion-note>
        </div>
    </ng-template>
    <Pagination [total]="pagination.pageSize" [current]="pagination.pageIndex" [locale]="locale"></Pagination>
</ion-content>
